# Generic scan task to be used by ports

record(longin,"$(PORT)ScanTask"){
    field(DTYP,"asynInt32")
    field(DESC,"trigger scans")
    field(SCAN,".1 second")
    field(INP,"@asyn($(PORT))SCAN_TASK")
}
